#result>p {
	color: #555;
	margin: 0 0 5px 0;
	text-align: center;
}
#result ol {
	padding-left: 24px;
	margin: 0;
}
#result ol li p {
	color: #555;
	font-size: 9pt;
	line-height: 14px;
	margin: 0;
}
#result ol li {
	margin-bottom: 2px;
}
#result ol li, #result ol li a {
	color: black;
	font-size: 10pt;
	line-height: 17px;
}
#result #resultHeader {
	margin-left: 24px;
	font-weight: bold;
}
#result #resultHeader span {
	margin-right: 24px;
}