<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE html 
  PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <title>500.html</title>
  </head>

  <body>
    <h2>WAHSP</h2>
    <img src="{{ STATIC_URL }}image/logos/WAHSPlogo.png">
    <h3>500 - Server error / Template does not exist</h3>
  </body>
</html>
